<section class="add-student-view">
    <div class="form-card">
        <button id="goBackBtn" class="go-back-btn" title="Go back">
            <img src="../assets/icons/back_arrow.png" alt="Back" />
        </button>
        <h1>Add New Event</h1>
        <div class="avatar-placeholder">
            <img src="../assets/img/new-book.png" alt="Event Icon"/>
        </div>
        <h2>Register New Event</h2>
        <form id="addEventForm">
            <label>Name</label>
            <input type="text" id="name" name="name" required/>
            <label>Description</label>
            <input type="text" id="description" name="description" required />
            <label>Capacity</label>
            <input type="number" id="capacity" name="capacity" required />
            <label>Date of Entry</label>
            <input type="date" id="dateOfEntry" name="dateOfEntry" required />
            <button type="submit">Save</button>
        </form>
    </div>
</section>